block header
  header
    nav
      ul#nav
        li.menu
          span.hov
            a(class="menu", href="#") Menu
          span.nor
            a(class="menu", href="#") Menu

        each nav in navs
          li.nav
            span.hov
              a(class="#{nav.name.toLowerCase()}", href="#{nav.url}")= nav.name
            span.nor
              a(class="#{nav.name.toLowerCase()}", href="#{nav.url}")= nav.name

      ul#social
        li.footer
          p
            | #{new Date().getFullYear()} &copy; All righrts reserved

        li.menu
          span.hov
            a(class="socials-hover-menu socials-hover-sprite", href="#")
              span.visuallyhidden= menu
          span.nor
            a(class="socials-menu socials-sprite", href="#")
              span.visuallyhidden= menu



        each social in socials
          li.icon
            span.hov
              a(class="socials-hover-#{social.name.toLowerCase()} socials-hover-sprite", href="#{social.url}", target="_blank")
                span.visuallyhidden= social.name
            span.nor
              a(class="socials-#{social.name.toLowerCase()} socials-sprite", href="#{social.url}", target="_blank")
                span.visuallyhidden= social.name


    ul#subnav
      each nav in navs
        li.nav
          span.nor
            a(class="#{nav.name.toLowerCase()}", href="#{nav.url}")= nav.name

    ul#subsocial
      each social in socials
        li.icon
          span.nor
            a(class="socials-#{social.name.toLowerCase()} socials-sprite", href="#{social.url}", target="_blank")
              span.visuallyhidden= social.name
