block header
	header
		nav
			ul#nav
				each nav in navs
					li
						span.hov
							a(class="#{nav.name.toLowerCase()}", href="#{nav.url}")= nav.name
						span.nor
							a(class="#{nav.name.toLowerCase()}", href="#{nav.url}")= nav.name
			//- span
			//- 	| 2013 &copy; All righrts reserved
			ul#social
				each social in socials
					li
						span.hov
							a(class="socials-hover-#{social.name.toLowerCase()} socials-hover-sprite", href="#{social.url}")
								span.visuallyhidden= social.name
						span.nor
							a(class="socials-#{social.name.toLowerCase()} socials-sprite", href="#{social.url}")
								span.visuallyhidden= social.name
