a.prev(href="#")
  i
a.next(href="#")
  i
a.close(href="#")
  i

div.panel
  div.gallery
    div.media
      each media, i in project.media.pictures
        if i === 0
          img(src="/img/projects/detail/#{media}" alt=project.name).picture
        else
          img(src="/img/projects/detail/#{media}" alt=project.name).picture.hidden

      span.shade

    ul.pag
      each media, i in project.media.pictures
        if i === 0
          li.indic.active
            a(href="#")
              span.normal
              span.active
        else
          li.indic
            a(href="#")
              span.normal
              span.active

    div.tr
      a(href="#").tags
      a(href="#").like
      span.likes= project.liketext()

    div.bl
      div.calendar(href="#")
        span.month= project.month()
        small.year= project.year()

  aside
    div.info
      header
        h3= project.name
        h4
          strong Client:
          span= project.client
        h4
          strong Type:
          span= project.type

      != project.description

    div.actions
      if project.media.preview !== ""
        a(class="visitsite" target="_blank" href=project.media.preview) Visite Website
        a(class="like" href="#") Like
      else
        a(class="like justified" href="#") Like
