a.prev(href="#")
  i
a.next(href="#")
  i
a.close(href="#")
  i

div.panel
  div.gallery
    div.media
      each media in model.media
        img(src="/img/projects/detail/#{media}" alt=model.name)
      span.shade

    ul.pag
      each media in model.media
        li.indic
          a(href="#")

    div.tr
      a(class="tags" href="#")
      a(class="likes" href="#")= model.likes + " likes"

    div.bl
      span=model.created_at

  aside
    header
      h3= model.name
      h4
        strong Client:
        span= model.client
      h4
        strong Type:
        span= model.type

    != model.description

    div.actions
      if model.media.preview !== ""
        a(class="visitsite" target="_blank" href=model.media.preview) Visite Website
        a(class="like" href="#") Like
      else
        a(class="like justified" href="#") Like
